In [4]:
URL = "https://raw.githubusercontent.com/anhquanbui/finalprojectg7/main/COVID_Parcel_Business.csv"

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(URL)
df

        FakeCustomerID  THE_YEAR  THE_WEEK  VOLUME
0               718117      2021         1       8
1               718117      2020         7     257
2               718117      2019        39     141
3               718117      2018         1      14
4               718117      2021         2     192
...                ...       ...       ...     ...
190714          228893      2019        13      30
190715          228893      2019        38     122
190716          228893      2019        48      99
190717          228893      2019        20      61
190718          228893      2019        19      56

[190719 rows x 4 columns]

In [8]:
df.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190719 entries, 0 to 190718
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FakeCustomerID  190719 non-null  int64
 1   THE_YEAR        190719 non-null  int64
 2   THE_WEEK        190719 non-null  int64
 3   VOLUME          190719 non-null  int64
dtypes: int64(4)
memory usage: 5.8 MB